:root {
  --color-brand--1: #ffffff;
  --color-brand--2: #070707;

  --color-brand--footer: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; */
  box-sizing: border-box;
}

html {
  /* max-width: 100vh; */
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;

  color: var(--color-brand--1);
  background-color: var(--color-brand--2);
}

section {
  scroll-margin-top: 132px;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

.btn {
  padding: 1.2rem 2.2rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
}

.btn,
.btn-white {
  display: inline-block;
  background-color: var(--color-brand--1);
  color: var(--color-brand--2);
}
